<template>
  <div>
    <navigation />
    <section class="section">
      <router-view></router-view>
    </section>
  </div>
</template>

<script>
import Navigation from "./components/Navigation";
export default {
  components: {
    Navigation,
  },
};
</script>