<template>
  <form id="loginForm" @submit.prevent="submit">
    <b-notification
      type="is-danger"
      v-if="message"
      :has-icon="true"
      icon="alert"
      :message="message"
    />

    <b-field
      label="E-mail"
      :type="showErrors ? 'is-danger' : ''"
      :message="errors.email"
    >
      <b-input
        type="email"
        icon="email"
        required
        v-model="form.email"
        autocomplete="email"
        autofocus
        @input="change"
      />
    </b-field>

    <b-field label="Password" :type="showErrors ? 'is-danger' : ''">
      <b-input
        type="password"
        icon="key"
        v-model="form.password"
        required
        password-reveal
        autocomplete="current-password"
        @input="change"
      />
    </b-field>
    <b-field label="Remember me">
      <b-checkbox v-model="form.remember" />
    </b-field>
    <b-field>
      <b-button type="is-primary" native-type="submit">Login</b-button>

      <b-button
        type="is-text"
        tag="router-link"
        v-if="routeNameExists('auth.password.request')"
        :to="{ name: 'auth.password.request' }"
        >Forgot your password?</b-button
      >
    </b-field>
  </form>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
        remember: true,
      },
      errors: {},
      message: null,
      formSubmit: false,
    };
  },
  computed: {
    showErrors() {
      return !_.isEmpty(this.errors) && this.formSubmit;
    },
  },
  methods: {
    ...mapActions("auth", ["login"]),

    async submit() {
      this.formSubmit = true;
      await this.login(this.form)
        .then((response) => {
          this.$router.push({ name: "home" });
        })
        .catch((error) => {
          // console.log("login form failed", error, error.response);
          this.errors = error.response.data.errors || {};
          this.message = error.response.data.message || null;
        });
    },
    change(val) {
      this.formSubmit = false;
      this.errors = {};
    },
  },
};
</script>