<template>
  <div>
    <b-notification
      v-if="formSuccess"
      type="is-success"
      has-icon
      :closable="false"
      :message="message"
    />

    <form v-else id="passwordRequestForm" @submit.prevent="submit">
      <b-notification type="is-info" :closable="false">
        Forgot your password? No problem. <br />
        Just let us know your email address and we will email you a password
        reset link that will allow you to choose a new one.
      </b-notification>

      <b-notification
        type="is-danger"
        v-if="message"
        has-icon
        role="alert"
        :message="message"
      />

      <b-field
        label="E-mail"
        :type="errors.email ? 'is-danger' : ''"
        :message="errors.email"
      >
        <b-input
          type="email"
          icon="email"
          required
          v-model="form.email"
          autocomplete="email"
          @input="change"
        />
      </b-field>

      <b-field>
        <b-button type="is-primary" native-type="submit"
          >Email Password Reset Link</b-button
        >
      </b-field>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      form: {
        email: null,
      },
      formSubmit: false,
      formSuccess: false,
      errors: {},
      message: null,
    };
  },
  computed: {
    showErrors() {
      return !_.isEmpty(this.errors) && this.formSubmit;
    },
  },
  methods: {
    ...mapActions("auth", ["passwordRequest"]),

    async submit() {
      this.formSubmit = true;

      await this.passwordRequest(this.form)
        .then((response) => {
          // this.$router.push({ name: "home" });
          this.message = response.data.message;
          this.formSuccess = true;
        })
        .catch((error) => {
          // console.log("register form failed", error, error.response);
          this.errors = error.response.data.errors || {};
          this.message = error.response.data.message || null;
        });
    },
    change(val) {
      this.formSubmit = false;
      this.errors = {};
    },
  },
};
</script>