<template>
  <div>
    <b-notification
      v-if="formSuccess"
      type="is-success"
      has-icon
      :closable="false"
      :message="message"
    />

    <form v-else id="passwordResetForm" @submit.prevent="submit">
      <b-notification
        type="is-danger"
        v-if="message"
        has-icon
        icon="alert"
        :message="message"
      />

      <b-field
        label="E-mail"
        :type="errors.email ? 'is-danger' : ''"
        :message="errors.email"
      >
        <b-input
          type="email"
          icon="email"
          required
          v-model="form.email"
          autocomplete="email"
          @input="change"
        />
      </b-field>

      <b-field
        label="Password"
        :type="errors.password ? 'is-danger' : ''"
        :message="errors.password"
      >
        <b-input
          type="password"
          icon="key"
          required
          v-model="form.password"
          autocomplete="new-password"
          password-reveal
          @input="change"
        />
      </b-field>

      <b-field
        label="Confirm password"
        :type="errors.password ? 'is-danger' : ''"
        :message="errors.password_confirmation"
      >
        <b-input
          type="password"
          icon="key"
          required
          v-model="form.password_confirmation"
          autocomplete="new-password"
          password-reveal
          @input="change"
        />
      </b-field>

      <b-field>
        <b-button type="is-primary" native-type="submit"
          >Reset Password</b-button
        >
      </b-field>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["token"],
  data() {
    return {
      form: {
        token: null,
        email: null,
        password: null,
        password_confirmation: null,
      },
      formSubmit: false,
      formSuccess: false,
      errors: {},
      message: null,
    };
  },
  computed: {
    showErrors() {
      return !_.isEmpty(this.errors) && this.formSubmit;
    },
  },
  methods: {
    ...mapActions("auth", ["passwordReset"]),

    async submit() {
      this.formSubmit = true;

      await this.passwordReset(this.form)
        .then((response) => {
          console.log("password reset response", response);
          this.message = response.data.message;
          this.formSuccess = true;
        })
        .catch((error) => {
          // console.log("register form failed", error, error.response);
          this.errors = error.response.data.errors || {};
          this.message = error.response.data.message || null;
        });
    },
    change(val) {
      this.formSubmit = false;
      this.errors = {};
    },
  },
  created() {
    this.form.token = this.token;
    this.form.email = this.$route.query.email;
  },
};
</script>