<template>
  <form id="registerForm" @submit.prevent="submit">
    <b-notification
      type="is-danger"
      v-if="message"
      :has-icon="true"
      icon-size="small"
      icon="alert"
      :message="message"
    />

    <b-field
      label="Name"
      :type="errors.name ? 'is-danger' : ''"
      :message="errors.name"
    >
      <b-input
        icon="account"
        required
        v-model="form.name"
        autocomplete="name"
        autofocus
        @input="change"
      />
    </b-field>

    <b-field
      label="E-mail"
      :type="errors.email ? 'is-danger' : ''"
      :message="errors.email"
    >
      <b-input
        type="email"
        icon="email"
        required
        v-model="form.email"
        autocomplete="email"
        @input="change"
      />
    </b-field>

    <b-field
      label="Password"
      :type="errors.password ? 'is-danger' : ''"
      :message="errors.password"
    >
      <b-input
        type="password"
        icon="key"
        required
        v-model="form.password"
        autocomplete="new-password"
        password-reveal
        @input="change"
      />
    </b-field>

    <b-field
      label="Confirm password"
      :type="errors.password ? 'is-danger' : ''"
      :message="errors.password_confirmation"
    >
      <b-input
        type="password"
        icon="key"
        required
        v-model="form.password_confirmation"
        autocomplete="new-password"
        password-reveal
        @input="change"
      />
    </b-field>

    <b-field>
      <b-button type="is-primary" native-type="submit">Register</b-button>
      <b-button tag="router-link" type="is-text" :to="{ name: 'auth.login' }"
        >Already registered?</b-button
      >
    </b-field>
  </form>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      form: {
        name: null,
        email: null,
        password: null,
        password_confirmation: null,
      },
      formSubmit: false,
      errors: {},
      message: null,
    };
  },
  computed: {
    showErrors() {
      return !_.isEmpty(this.errors) && this.formSubmit;
    },
  },
  methods: {
    ...mapActions("auth", ["register"]),

    async submit() {
      this.formSubmit = true;

      await this.register(this.form)
        .then((response) => {
          this.$router.push({ name: "home" });
        })
        .catch((error) => {
          // console.log("register form failed", error, error.response);
          this.errors = error.response.data.errors || {};
          this.message = error.response.data.message || null;
        });
    },
    change(val) {
      this.formSubmit = false;
      this.errors = {};
    },
  },
};
</script>