<template>
  <b-navbar>
    <template #brand>
      <b-navbar-item
        tag="router-link"
        :to="{ name: 'home' }"
        :active="$route.name === 'home'"
      >
        <img src="/images/maaltijden.png" alt="Maaltijden" />
      </b-navbar-item>
    </template>

    <template #start>
      <b-navbar-item
        tag="router-link"
        v-for="route in navRoutes"
        :key="route.path"
        :to="{ name: route.name }"
        :active="route.name === $route.name"
        >{{ route.title }}</b-navbar-item
      >
    </template>

    <template #end>
      <b-navbar-item tag="div" v-if="authenticated">
        <b-icon icon="account" class="mr-2" />
        {{ user.name }}

        <div class="buttons ml-4">
          <b-button class="is-light" @click="logout"> Log out </b-button>
        </div>
      </b-navbar-item>

      <b-navbar-item tag="div" v-else>
        <div class="buttons">
          <b-button
            tag="router-link"
            type="is-primary"
            :to="{ name: 'auth.register' }"
            :active="$route.name === 'auth.register'"
          >
            <strong>Sign up</strong>
          </b-button>
          <b-button
            tag="router-link"
            type="is-light"
            :to="{ name: 'auth.login' }"
            :active="$route.name === 'auth.login'"
          >
            Log in
          </b-button>
        </div>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters("auth", ["authenticated", "user"]),

    navRoutes() {
      return this.$router.options.routes.filter((route) => {
        // only show index or non-sub routes
        let showRoute =
          route.name.indexOf(".") === -1 || route.name.indexOf(".index") !== -1;

        // check middleware
        if (showRoute) {
          switch (route.meta.middleware) {
            case "admin":
              showRoute = this.authenticated && this.user.admin;
              break;
            case "auth":
              showRoute = this.authenticated;
              break;
            case "guest":
              showRoute = !this.authenticated;
              break;
            default:
          }
        }

        return showRoute;
      });
    },
  },
  methods: {
    ...mapActions("auth", ["logout"]),
  },
};
</script>

<style scoped>
.is-active {
  font-weight: bold;
}
</style>