<template>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Short</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="unit in units" :key="unit.id">
        <td>{{ unit.title }}</td>
        <td>{{ unit.short }}</td>
        <td>
          <router-link :to="{ name: 'units.show', params: { id: unit.id } }"
            >Edit</router-link
          >
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Foo</td>
        <td>ter</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</template>

<script>
export default {
  data() {
    return {
      units: [],
    };
  },
  /*
  created() {
    window.axios.get("/api/units").then((response) => {
      this.units = response.data;
    });
  },
  */
};
</script>