<template>
  <form id="userForm" @submit.prevent="submit">
    <b-field
      label="Name"
      :message="errors.name"
      :type="{ 'is-danger': errors.name }"
    >
      <b-input v-model="form.name" icon="account" />
    </b-field>

    <b-field
      label="E-mail"
      :message="errors.email"
      :type="{ 'is-danger': errors.email }"
    >
      <b-input v-model="form.email" type="email" icon="email" />
    </b-field>

    <b-field label="Admin" :message="errors.admin">
      <b-checkbox v-model="form.admin" />
    </b-field>

    <b-button type="is-primary" native-type="submit">Submit</b-button>
  </form>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      form: {
        name: null,
        email: null,
        admin: null,
      },
      errors: {},
    };
  },
  computed: {
    ...mapState("users", ["user", "loading"]),
  },
  methods: {
    submit() {
      const payload = {
        id: this.user.id,
        data: this.form,
      };

      this.$store.dispatch("users/EDIT_USER", payload).catch((error) => {
        console.log("catching error", error);
        this.errors = error.response.data.errors;
      });
    },
  },
  mounted() {
    this.$store
      .dispatch("users/FETCH_USER", this.$route.params.id)
      .then((response) => {
        this.form.name = this.user.name;
        this.form.email = this.user.email;
        this.form.admin = this.user.admin;
      });
  },
};
</script>