<template>
  <b-table :data="list">
    <b-table-column field="name" label="Name" v-slot="props">
      {{ props.row.name }}
    </b-table-column>
    <b-table-column field="email" label="E-mail" v-slot="props">
      {{ props.row.email }}
    </b-table-column>
    <b-table-column field="admin" label="Admin" v-slot="props">
      <b-icon icon="checkbox-marked-outline" v-if="props.row.admin" />
      <b-icon icon="checkbox-blank-outline" v-else />
    </b-table-column>
    <b-table-column field="updated_at" label="Updated" v-slot="props">
      {{ props.row.updated_at }}
    </b-table-column>
    <b-table-column field="id" label="Action" v-slot="props">
      <b-button
        tag="router-link"
        :to="{ name: 'users.show', params: { id: props.row.id } }"
      >
        <b-icon icon="account-edit" class="mr-1" />
        Edit
      </b-button>
    </b-table-column>
  </b-table>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  computed: {
    ...mapState("users", {
      list: "users",
    }),
  },
  methods: {
    ...mapActions("users", ["getUsers"]),
  },
  created() {
    // this.getUsers(); // doesn't work
    this.getUsers({}); // this works
    // this.$store.dispatch('users/getUsers'); // this doesn't work
    // this.$store.dispatch('users/getUsers', {}) // this works
  },
};
</script>